body{
    background: url(/pexels-neo-2653362\ 1.png);
    background-repeat: no-repeat;
    max-width: 100%;
    margin: 0%;
    width: 1280px;
    height: 720px;    
}

form {
 position: absolute;
 width: 343px;
 height: 366px;
 left: 485px;
 padding: 10px;
 top: 240px;
 background: linear-gradient(0deg, rgba(186, 154, 92, 0.71), rgba(186, 154, 92, 0.71)), rgba(185, 172, 147, 0.96);
 mix-blend-mode: hard-light;
 opacity: 0.81;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 8px;
}

#usuario {
 position: absolute;
 left: 30px;
 top: 75px;
 font-weight: 400;
 font-size: 25px;
 line-height: 31px;
 display: flex;
 align-items: center;
 color: #FDFDFD; 
}

#input_usuario {
 position: absolute;
 width: 274px;
 height: 32px;
 left: 30px;
 top: 105px;
 background: #C4C4C4;
 box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
 border-radius: 5px;
}

#senha {
 position: absolute;
 width: 96px;
 height: 49px;
 left: 30px;
 top: 140px;
 font-weight: 400;
 font-size: 25px;
 line-height: 31px;
 display: flex;
 align-items: center;
 color: #FBFBFB; 
}

#password {
    position: absolute;
    width: 274px;
    height: 32px;
    left: 30px;
    top: 180px;   
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

#submit {
 
 padding: 10px 10px 12px 37px; 
 position: absolute;
 width: 145px;
 height: 62px;
 left: 110px;
 top: 250px;
 background: #151515;
 border-radius: 10px; 
 font-style: normal;
 font-weight: 600;
 font-size: 24px;
 display: flex;
 align-items: center;
 cursor: pointer;
 color: #E5E5E5;
}



